# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Deploy dymoval doc pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Python
        uses: actions/setup-python@v4.2.0
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install sphinx
          python -m pip install furo
          python -m pip install sphinx-toolbox
          python -m pip install sphinx-autodoc-typehints
          python -m pip install -e .
      
      - name: Make the sphinx docs
        run: |
          pwd
          cd docs
          make clean
          sphinx-apidoc -f -n -o ./docs/source ../src/dymoval/
          make html
          cd ..
          
      - name: Init new repo in dist folder and commit generated files
        run: |
          cd docs/build/html/
          git init
          touch .nojekyll
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git config --global --add safe.directory /github/workspace/docs/build/html
          git commit -m "deploy"
        
      - name: Force push to destination branch
        uses: ad-m/github-push-action@v0.5.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
          branch: gh-pages
          directory: ./docs/build/html
          
        
         
