# CI/CD pipeline
name: CI pipeline

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Python
        uses: actions/setup-python@v4.2.0
        with:
            python-version: '3.9'
        
      - name: Install dependencies
        run: |
          python -m pip install .
      
      - name: Formatting source code (black)
        uses: psf/black@stable

      - name: Install test dependencies
        run: |
          python -m pip install .[test]

      - name: Linting and code style check (flake8)
        run: |
          flake8 .

      - name: Static typing check (mypy)
        run: |
          mypy .

      - name: Unit-tests (pytest)
        run: |
          python -m pytest .

      - name: Build wheel and sdist (hatch)
        run: |
          python -m pip install .[build]
          hatch build

      - name: Build docs (sphinx)
        run: |
          python -m pip install .[docs]
          cd docs
          make clean
          sphinx-apidoc -f -n -o ./docs/source ../src/dymoval/
          make html
          cd ..
          
  
        
         
